.login{
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 100px;
}

.login-container{
    width: 625px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.login-container h1{
    margin: 20px 0;
}

.login-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.login-fields input{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.login-container button{
    width: 100%;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.login-already{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.login-already span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.login-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1280px) {
    .login{
        padding-top: 50px;
    }
    .login-container{
        width: auto;
        max-width: 525px;
        max-height: 555px;
    }
    .login-container h1{
        margin: 10px 0;
    }
    .login-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .login-fields input{
        height: 65px;
        width: 93%;
    }
    .login-container button{
        width: 100%;
    }
    .login-already{
        font-size: 16px;
    }
    .login-agree{
        font-size: 14px;
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .login-container{
        padding: 20px 30px;
        max-height: 500px;
    }
    .login-container h1{
        font-size: 24px;
    }
    .login-fields input{
        height: 50px;
    }
    .login-container button{
        height: 50px;
    }
    .login-already{
        font-size: 16px;
    }
    .login-agree{
        font-size: 14px;
        gap: 10px;
    }
}