.hero{
    height: 75vh;
    margin-bottom: 30px;
    display: flex;
    position: relative;
}

.hero::before{
    position: absolute;
    background: url('/hero.jpg') no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
    content: "";
    z-index: -1;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 225px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}


@media (max-width:1280px) {
    .hero{
        height: 60vh;
    }
    .hero-left{
        padding-left: 170px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
}

@media (max-width:1024px) {
    .hero{
        height: 50vh;
    }
    .hero-left{
        padding-left: 120px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 65px;
    }
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
}

@media (max-width:800px) {
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width:500px) {
    .hero{
        flex-direction: column;
    }
    .hero-left{
        padding-left: 50px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 35px;
    }
    .hero-hand-icon img{
        width: 45px;
    }
    .hero-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
        margin-top: 0px;
    }
}